<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminhomepage</title>
</head>
<body><center>WELCOME ADMIN !!</center>

<br>
<br><center>
    <a href="{% url 'insertfonts' %}" class="insertfonts">INSERT FONTS</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'viewfonts' %}" class="viewfonts">VIEW FONTS</a>
    <br>
    <br>
       <a href="{% url 'insertbandsize' %}" class="insertfonts">INSERT BAND SIZE</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'viewbandsize' %}" class="viewfonts">VIEW BAND SIZE</a>
    <br>
    <br>
    <a href="{% url 'viewmessage' %}" class="insertfonts">VIEW MESSAGE</a>&nbsp;
    <br>
    <br>
    <a href="{% url 'updateprofile' %}" class="insertfonts">UPDATE PROFILE</a>
    <br>
    <br>
    <br>
    <a href="{% url 'addproductprice' %}" class="insertfonts">ADD PRODUCT PRICE</a>&nbsp;&nbsp;
    <a href="{% url 'viewprice' %}" class="insertfonts">VIEW PRODUCT PRICE</a>
       <br>
    <br>
    <a href="{% url 'addimage' %}" class="insertfonts">ADD CLIPART</a>&nbsp;&nbsp;
    <a href="{% url 'viewimage' %}" class="insertfonts">VIEW IMAGES</a>
    <br>
    <br>
    <br>
    <a href="{% url 'addcategory' %}" class="insertfonts">ADD PRODUCT_CATEGORY</a><br>
    <a href="{% url 'Product_name' %}" class="insertfonts">Product_name</a><br>
    <a href="{% url 'Product_image' %}" class="insertfonts">Product_image</a><br>
    <a href="{% url 'Minimum_quantity' %}" class="insertfonts">Minimum_quantity</a><br>
    <a href="{% url 'Maximum_quantity' %}" class="insertfonts">Maximum_quantity </a><br>
    <a href="{% url 'Discount_percentage' %}" class="insertfonts">Discount_percentage</a><br>
    <a href="{% url 'Unit_price' %}" class="insertfonts">Unit_price</a><br>
    <a href="{% url 'Status' %}" class="insertfonts">Status</a><br>


    <a href="{% url 'viewcategory' %}" class="insertfonts">VIEW_CATEGORY</a><br>
    <a href="{% url 'viewProduct_name' %}" class="insertfonts">view Product_name</a><br>
    <a href="{% url 'viewProduct_image' %}" class="insertfonts">view Product_image</a><br>
    <a href="{% url 'viewMinimum_quantity' %}" class="insertfonts">view Minimum_quantity</a><br>
    <a href="{% url 'viewMaximum_quantity' %}" class="insertfonts">view Maximum_quantity </a><br>
    <a href="{% url 'viewDiscount_percentage' %}" class="insertfonts">view Discount_percentage</a><br>
    <a href="{% url 'viewUnit_price' %}" class="insertfonts">view Unit_price</a><br>
    <a href="{% url 'viewStatus' %}" class="insertfonts">view Status</a><br>







</center>

</body>
</html>