






<html>
{%  load static %}
<head>
<style>
    body {
  background-image: url('/static/wines1/images/image (1).jpg');
}

    </style>
</head>
<body>
<form name="hi" method="post" action="{% url 'cus_selectcategory' %}" width="30" height="30">
    {% csrf_token %}
{% if details %}
      <select id="source" name="source">
    {% for v in details %}
            <option>{{v}}</option>

    {%  endfor %}
      </select>
{% elif details == '' %}

        list is empty


{% endif %}
<input type="submit" value="select">
</body>
</html>




