
<html>
{%  load static %}
<head>
<style>
    body {
  background-image: url('/static/wines1/images/image (1).jpg');
}

</style>
</head>
<body>
<form name="admin" method="POST" action="#" width="30" height="30" enctype="multipart/form-data">
    {% csrf_token %}
{% if Unit_price %}
    <font color="#fffff0">UNIT PRIZE</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select id="source" name="source">

    {% for v in Unit_price %}

      <option  value="{{ v }}">{{v.Unit_price}}</option>

    {%  endfor %}

      </select>

{% elif details == '' %}

        list is empty


{% endif %}


</form>
</body>
</html>