{%  load static %}
<html class="no-js" lang="zxx">
<head>
    <style>
    body {
  background-image: url('/static/wines1/images/image (20).jpg');
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SILICON-HOME PAGE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/shionhouse/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/slick.css">
    <link rel="stylesheet" href="static/shionhouse/assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>


<body class="full-wrapper">
<ul>
<li class="dropdown">
<li class="dropdown">
      <li>  <a href="{% url 'HI' %}" class="insertfonts"><h3>HOME</h3></a>
  </li>
</div>




          <li class="dropdown">
<li><a href="{% url 'contact' %}" class="registerclass"><h3>CONTACT</h3></a>
  </li>

          <li class="dropdown">
                <li><a href="{% url 'about' %}" class="registerclass"><h3>ABOUT</h3></a>

          <li class="dropdown">
      <li>  <a href="{% url 'register' %}" class="insertfonts"><h3>REGISTER</h3></a>
  </li>
  </li>
         <li class="dropdown">
      <li>  <a href="{% url 'login' %}" class="insertfonts"><h3>LOGIN</h3></a></li>
  </li>


</ul>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/shionhouse/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->

<font color="white"><h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; SILICON E-COMMERCE WEBSITE</h1></font>
                                <br>
                                <br>
                            <br>
                            <br>

                            <!-- Main-menu -->

                        <div class="header-right1 d-flex align-items-center">
                            <!-- Social -->

                            <!-- Search Box -->
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!--? Hero Area Start-->
        <div class="container-fluid">
            <div class="slider-area">
                <!-- Mobile Device Show Menu-->
                <div class="header-right2 d-flex align-items-center">
                    <!-- Social -->
                    <div class="header-social  d-block d-md-none">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                    <!-- Search Box -->
                    <div class="search d-block d-md-none" >
                        <ul class="d-flex align-items-center">
                            <li class="mr-15">
                                <div class="nav-search search-switch">
                                    <i class="ti-search"></i>
                                </div>
                            </li>
                            <li>
                                <div class="card-stor">
                                    <img src="static/shionhouse/assets/img/gallery/card.svg" alt="">
                                    <span>0</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /End mobile  Menu-->


        <!-- End Hero -->
        <!--? Popular Items Start -->
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="static/shionhouse/assets/img/gallery/popular1.png" alt="">
                                <div class="img-cap">
                                   <h2><font color="white"> Glasses</font></h2>
                                </div>
                                <div class="favorit-items">
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="static/shionhouse/assets/img/gallery/popular2.png" alt="">
                            <div class="img-cap">
                                <h2><font color="white">Watches</font></h2>
                            </div>
                            <div class="favorit-items">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="popular-img">
                        <img src="static/shionhouse/assets/img/gallery/popular3.png" alt="">
                        <div class="img-cap">
                            <h2><font color="white">Jackets</font></h2>
                        </div>
                        <div class="favorit-items">
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="popular-img">
                    <img src="static/shionhouse/assets/img/gallery/popular4.png" alt="">
                    <div class="img-cap">
                       <h2><font color="white">Pants</font></h2>
                    </div>
                    <div class="favorit-items">
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
</div>
<!-- Popular Items End -->
<!--? New Arrival Start -->
<div class="new-arrival">
    <div class="container">
        <!-- Section tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>OUR<br>PRODUCTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="popular-img">
                        <img src="static/shionhouse/assets/img/gallery/Webp.net-resizeimage (2).jpg" alt="">
                        <div class="favorit-items">
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><font color="white"> 4 SIZE WRISTBAND</font></h3>
                        <div class="rating mb-10">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <font color="white"><h3>RS 60.00</h3></font>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="popular-img">
                        <img src="static/shionhouse/assets/img/gallery/Webp.net-resizeimage (3).jpg" alt="">
                        <div class="favorit-items">
                        </div>
                    </div>
                    <div class="popular-caption">
                     <H3><font color="white">NIKE SHOE</font></h3>
                     <div class="rating mb-10">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <font color="white"><h3>RS 750.00</h3></font>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="popular-img">
                    <img src="static/shionhouse/assets/img/gallery/Webp.net-resizeimage (1).jpg" alt="">
                    <div class="favorit-items">
                    </div>
                </div>
                <div class="popular-caption">
                 <h3><font color="white"> WRISTBAND NEW COLLECTION</font></h3>
                 <div class="rating mb-10">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <font color="white"><h3>RS 70.00</h3></font>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <div class="popular-img">
                <img src="static/shionhouse/assets/img/gallery/Webp.net-resizeimage.jpg" alt="">
                <div class="favorit-items">

                </div>
            </div>
            <div class="popular-caption">
             <h3>&nbsp; &nbsp; &nbsp;<font color="white"> ADIDAS SHOE</font></h3>
             <div class="rating mb-10">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <font color="white"><h3>RS 600.00</h3></font>
        </div>
    </div>
</div>



</div>
</div>
</div>
<!-- Button -->
</div>
</div>
</div>
<!--? New Arrival End -->
<!--? collection -->

<!-- End collection -->

  <!-- Footer End-->
</footer>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="./static/shionhouse/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="./static/shionhouse/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./static/shionhouse//js/popper.min.js"></script>
<script src="./static/shionhouse/assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="./static/shionhouse/assets/js/owl.carousel.min.js"></script>
<script src="./static/shionhouse/assets/js/slick.min.js"></script>
<script src="./static/shionhouse/assets/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="./static/shionhouse/assets/js/wow.min.js"></script>
<script src="./static/shionhouse/assets/js/animated.headline.js"></script>
<script src="./static/shionhouse/assets/js/jquery.magnific-popup.js"></script>
<script src="./static/shionhouse/assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="./static/shionhouse/assets/js/jquery.nice-select.min.js"></script>
<script src="./static/shionhouse/assets/js/jquery.sticky.js"></script>
<script src="./static/shionhouse/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./static/shionhouse/assets/js/jquery.counterup.min.js"></script>
<script src="./static/shionhouse/assets/js/waypoints.min.js"></script>
<script src="./static/shionhouse/assets/js/jquery.countdown.min.js"></script>
<script src="./static/shionhouse/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./static/shionhouse/assets/js/contact.js"></script>
<script src="./static/shionhouse/assets/js/jquery.form.js"></script>
<script src="./static/shionhouse/assets/js/jquery.validate.min.js"></script>
<script src="./static/shionhouse/assets/js/mail-script.js"></script>
<script src="./static/shionhouse/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./static/shionhouse/assets/js/plugins.js"></script>
<script src="./static/shionhouse/assets/js/main.js"></script>

</body>
<center>{{msg}}</center>
</html>