<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminhomepage</title>
</head>
<body><center>TEMPERORY PAGE!!</center>

<br>
<br><center>
    <a href="{% url 'insertcategory2' %}" class="insertcategory">INSERT CATEGORY</a>&nbsp;&nbsp;
        <br>
        <br>
    <a href="{% url 'insertfonts2' %}" class="insertfonts2">INSERT FONTS</a>  <br>
        <br>&nbsp;&nbsp;
        <a href="{% url 'insertsize2' %}" class="insertcategory">INSERT SIZE</a>&nbsp;  <br>
        <br>&nbsp;
    <a href="{% url 'insertprice2' %}" class="insertfonts2">INSERT PRICE</a>&nbsp;  <br>

        <br>&nbsp;
       <br>&nbsp;
    <a href="{% url 'dependencydrop' %}" class="insertfonts2">DEPENDENCY DROPDOWN</a>&nbsp;  <br>



</center>

</body>
</html>