{%  load static %}

<html>

<head>
<style>
    body {
  background-image: url('/static/wines1/images/image (16).jpg');
}

    </style>
</head>
<form method="post" action="{% url 'updateAdminProfileAction' %}">
{% csrf_token %}

{% if details %}
    {% for v in details %}
    <center><caption>Update profile</caption></center>
<table border="1" align="center" width="400" bgcolor="#CCCCCC" >


    <br>


<tr>

<th>Enter your first name</th>

<td><input type="text" name="Adminfirstn" id="fn1" maxlength="10" title="enter your first name" placeholder="enter your first name" value="{{v.First_name}}" required/></td>

</tr>

<tr>

<th>Enter your last name</th>

<td><input type="text" name="Adfn2" id="fn2" value="{{v.Last_name}}" /></td>

</tr>


<tr>

<th>Email</th>

<td><input type="email" name="email" id="email" value="{{v.Email}}" /></td>

</tr>

<tr>

<th>Enter your password</th>

<td><input type="password" name="adtxtpswd" id="txtpswd" value="{{v.Password}}" /></td>

</tr>

<tr><td><input type="submit" value="Submit"></td></tr>


    {%  endfor %}
{% elif details == '' %}
list is empty
{% endif %}



</td>
</tr>


</table>
</form>
    <br>
    <br>
	<center><button type="submit" onclick="location.href='{% url 'admin_home' %}'" name='mybtn2'>Back</button></center>
</html>

